.chat-bubble {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0;
  padding: 10px;
}

.chat-content-item {
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  /* 限制宽度 文字超过宽度换行*/
  max-width: 70%;
  word-break: break-word;
}
